body{

background-image: url(tree-sunlight-background-relaxation-preview.jpg);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  
}

.navar-link ul {
  display: flex;
  gap: 30px;
}

.navar-link ul li {
  list-style: none;
  color: white;
}

.search-box {
  display: flex;
  align-items: center;
}
#first{
    color: orange;
}
.search-box input{
    border-radius: 3px;
}
.search-box button{
    border-radius: 3px;
    background-color: orange;
}
.main-continear{
    border: black solid 2px;
    width: 250px;
    border-radius: 12px;
    background-color:black;
   position: absolute;
    top: 60%;               
    right: 30px;             
    transform: translateY(-50%);

}
#login-form{
    padding-left: 35px;
}
#login-form input{
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
}
#login-form button{
    margin-top: 10px;
    border-radius: 5px;
    width: 170px;
    height: 30px;
    background-color: orange;
}
h2{
    color: white;
}
.header{
    margin-left: 35px;
    margin-top:10px ;
    width: 170px;
    height: 28px;
    border: solid black 2px;
    text-align: center;
    border-radius:5px ;
    color: orange;
    background-color: white;
}
#login-form p {
    color: white;
}
#signup-form input {
    margin: 10px;
    width: 170px;
    height: 30px;
    border-radius: 5px;
    margin-left: 35px;
}
.social-login{
    display: flex;
    margin-left: 10px;
    gap: 10px;
}